
@model  Sude.Dto.DtoModels.Work.WorkDetailDtoModel

  @{
                                        Layout=null;
                                        }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>
</div>
<div>
</div>
</body>
</html>
