
@model Sude.Dto.DtoModels.Order.OrderNewDtoModel


@section Scripts
{



}
<link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
<script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
<script src="~/js/webcam.min.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />

    <section class="content">
        <div class="box box-primary bg-gray-light">
            <div class="box-header with-border  text-center">
                <h2 class="box-title">@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") خرید کالا</h2>
            </div>
            <div class="box-body">
                @if (!string.IsNullOrEmpty(Model.WorkId))
                {
                <div class="col-md-12">
                    <div class="row">

                        <form id="frmAdd">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="box box-info ">
                                <div class="box-header with-border  text-center">
                                    <h3 class="box-title">اطلاعات خرید</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>تاریخ</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input id="txtOrderDate" value="@Model.OrderDate" class="form-control" />
                                                    <input id="OrderDateVal" hidden="hidden" value="@Model.OrderDate" />
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="row margin-bottom">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input id="txtDesc" asp-for="Description" class="form-control" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="row">
                        <div id="divOrderDetails" class="box box-info  ">
                            <div class="box-header with-border text-center">
                                <h3 class="box-title">اطلاعات @_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail") خرید</h3>
                            </div>
                            <div class="box-body">
                                <div id="adddetail" class="row">

                                </div>
                                <div class="row" id="odetails"></div>
                            </div>



                        </div>
                    </div>

                    <div class="row">
                        <div id="divattachments"></div>
                    </div>
                    <div class="row">
                        <div class="box box-info  ">
                            <div class="box-header with-border  text-center">
                                <h3 class="box-title">اطلاعات @_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نهایی سفارش</h3>


                            </div>
                            <div class="box-body">
                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a id="btnSaveNewOrder" onclick="SaveNewOrder()" class="btn btn-success col-md-6"><span class="fa fa-check margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نهایی سفارش</a>

                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Back")</a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
                }
                else

                {

                    <div class="row">
                        <div class="col-md-12">
                            <label>لطفا یک کسب و کار انتخاب کنید</label>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>

    <div class="col-sm-6">
        <script>
        
        </script>

    </div>
 
<script src="~/js/select2.js">
</script>

<script>


    $(document).ready(function () {




        $("#odetails").load("OrderDetail/List");
        $("#adddetail").load("OrderDetail/Add");
        $("#divattachments").load("Attachment/AddAttachment");
        $('#drpCustomers').select2();

       

    });
    initializeDateTime('#txtOrderDate', '#OrderDateVal');

    function take_snapshot() {
        // take snapshot and get image data  
        Webcam.snap(function (data_uri) {
            // display results in page  
            document.getElementById('attachmentResults').innerHTML =
                '<img id="img_snapshot" src="' +
                data_uri +
                '"/>';

          
        });
    }  

    function upload_snapshot() {

        var data_uri = $('#imgoutput').attr('src');
        alert(data_uri);
        Webcam.upload(data_uri,
            'Attachment/Capture',
            function (code, text) {
                
                Command: toastr["success"]( "تصویر ثبت شد");
                $("#divattachments").load("Attachment/AddAttachment");
            });

    }

    function SaveNewOrder() {
        $.validator.unobtrusive.parse($('#frmAdd'));
        var isValid = $('#frmAdd').valid();
        if (!isValid)
            return;
        var order = {
            OrderNumber: '',
            OrderDate: getControlAltValueDateStructure('#OrderDateVal'),
            Description: $("#txtDesc").val()
                    }
        $.ajax({
            url: "OrderBuy/Add",
            type: "Post",
            data: order
        }).done(function (result) {
            if (result.isSucceed) {

                Command: toastr["success"]("سفارش ایجاد شد");

                $.get("Order/List", { "PageIndex": "1" }, function (result) {

                    $("#orderView").html(result);

                });

            }
            else {
                Command: toastr["warning"](result.message, "هشدار");


            }
        });
    }
    function ToList() {
        $.get("Order/List", { "PageIndex": "1" }, function (result) {

            $("#orderView").html(result);

        });

    }

    function btnShowSaveNewOrderCustomerForm() {
        $.get("Customer/AddOrderCustomer", function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("سفارش گیرنده @_SudeSessionContext.GetLocalResourceValue("Page.Button.New")");
            $("#myModalBody").html(result);
            $("#btnClose").click(function () {
                $("#myModal").modal("hide");
            });

            $("#myModal").on('hide.bs.modal', function () {
                SuccessAddCustomer($('#selectedItem').val());
            });
        });

    }
    function SuccessAddCustomer(customerId) {
        if (customerId != "") {

            $.ajax({
                url: "Customer/GetCurrentCustomers",
                type: "Get"
            }).done(function (result) {

                $("#drpCustomers").empty();



                $.each(result, function () {
                    var opt = '<option>';
                    //  if (this.value == customerId)
                    //     opt = '<option selected="selected">';
                    $("#drpCustomers").append(
                        $(opt, {
                            value: this.value
                        }).text(this.text)
                    );
                });
                $('#drpCustomers option[value=' + customerId + ']').attr('selected', 'selected');




            });


        }
    }

</script>