
@model Sude.Dto.DtoModels.Order.OrderEditDtoModel


<link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
<script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />

<div class="form-group">
    <input id="txtOrderId" type="hidden" asp-for="OrderId" class="form-control" />
    <input id="txtWorkId" type="hidden" asp-for="WorkId" class="form-control" />
</div>

<section class="content">
    <div class="box box-primary bg-gray-light">
        <div class="box-header with-border text-center ">
            <h2 class="box-title">تغییر اطلاعات سفارش شماره @Model.OrderNumber </h2>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="row">


                    <form id="frmEdit">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box box-primary">
                            <div class="box-header with-border text-center ">
                                <h3 class="box-title">اطلاعات سفارش</h3>
                            </div>
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-6">



                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label>خدمات گیرنده</label>
                                            </div>
                                            <div class="input-group  col-md-8">

                                                <select id="drpCustomers" asp-for="CustomerId"
                                                        class="form-control"
                                                        asp-items="(SelectList)@ViewData["Customers"]">
                                                    <option>Please select customer</option>

                                                </select>

                                                <div class="input-group-btn">
                                                    <a id="btnSaveNewOrderCustomer" onclick="SaveNewOrderCustomer()" class="btn btn-success"><span class="fa fa-plus margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.New")</a>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label>تاریخ سفارش</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txtOrderDate" value="@Model.OrderDate" class="form-control" />
                                                <input id="OrderDateVal" hidden="hidden" value="@Model.OrderDate" />
                                                <span asp-validation-for="OrderDate" class="text-danger"></span>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="txtDesc" asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div id="divOrderDetails" class="box box-info">
                        <div class="box-header with-border  text-center ">
                            <h3 class="box-title">اطلاعات @_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail") سفارش</h3>


                        </div>
                        <div class="box-body ">
                            <div id="adddetail" class="row">
                                @*@await Component.InvokeAsync("AddDetail");*@

                            </div>
                            <div class="row" id="odetails"></div>
                        </div>



                    </div>
                </div>
                <div class="row">
                    <div class="box box-info">
                        <div class="box-header with-border  text-center">
                            <h3 class="box-title">اطلاعات @_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") تغییرات نهایی سفارش</h3>


                        </div>
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="btn-group margin-bottom text-center" data-toggle="buttons">
                                    @{
                                        int i = 0;
                                        foreach (Sude.Dto.DtoModels.Type.TypeDetailDtoModel typepayment in ((IEnumerable<Sude.Dto.DtoModels.Type.TypeDetailDtoModel>)ViewData[Constants.ViewBagNames.PaymentStatus]))
                                        {
                                            i++;
                                            string name = "btnRadio" + i.ToString();


                                            @if (typepayment.TypeId == Model.PaymentStatusId)
                                            {
                                                <label class="btn btn-primary active" for="@name">
                                                    <input type="radio" id="@name" class="btn-check" asp-for="PaymentStatusId" value="@typepayment.TypeId" autocomplete="off" checked="checked">
                                                    @typepayment.Title
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-primary" for="@name">
                                                    <input type="radio" id="@name" class="btn-check" asp-for="PaymentStatusId" value="@typepayment.TypeId" autocomplete="off">
                                                    @typepayment.Title
                                                </label>



                                            }
                                        }
                                    }

                                </div>
                            </div>

                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a id="btnEditOrder" onclick="EditOrder()" class="btn btn-success col-md-6"><span class="fa fa-check margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") تغییرات نهایی سفارش</a>

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Back")</a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</section>

<div class="col-sm-6">
    <script>
        initializeDateTime('#txtOrderDate', '#OrderDateVal');
    </script>

</div>



<script src="~/js/select2.js">
</script>







<script>
    $(document).ready(function () {

        $("#odetails").load("OrderDetail/List");
        $("#adddetail").load("OrderDetail/Add?servingHasTracking=0&IsActive=1");
        $('#drpCustomers').select2();

    });

    //$(function () {
    //    $.validator.unobtrusive.parse($('#frmEdit'));
    //});
    function EditOrder() {
        $.validator.unobtrusive.parse($('#frmEdit'));
        var isValid = $('#frmEdit').valid();
        if (!isValid)
            return;
        var order = {
            OrderId: $("#txtOrderId").val(),
            WorkId: $("#txtWorkd").val(),
            OrderNumber: $("#txtOrderNumber").val(),
            OrderDate: getControlAltValueDateStructure('#OrderDateVal'),
            Description: $("#txtDesc").val(),
            CustomerId: $("#drpCustomers").val(),
            CustomerName: $("#drpCustomers option:selected").text(),
            PaymentStatusId: $('input[name=PaymentStatusId]:radio:checked').val(),
        }
        $.ajax({
            url: "Order/Edit",
            type: "Post",
            data: order
        }).done(function (result) {
            if (result.isSucceed) {
                Command: toastr["success"]("سفارش اصلاح شد");
                $("#myModal").modal("hide");
                $.get("Order/List", { "PageIndex": "1" }, function (result) {

                    $("#orderView").html(result);

                });

            }
            else {
                Command: toastr["warning"](result.message, "هشدار");
            }
        });
    }
    function ToList() {
        $.get("Order/List", { "PageIndex": "1" }, function (result) {

            $("#orderView").html(result);

        });

    }
</script>