@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Order
@model ResultSetDto<IEnumerable<OrderDetailDtoModel>>


<div class="input-group">
    <input type="text" name="message" placeholder="Type words ..." class="form-control">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>جستجو</lable></button>
    </span>
    
    </div>


<div class="row">
    <div class="col-m-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">فهرست  سفارشات</h3>

                <div class="box-tools">
                    
                    <table>
                        <tr>

                            <td style="padding-left:3px">
                                <a id="btnAdd" class="btn btn-block btn-success"><span class="fa fa-shopping-cart margin-r-5"></span><lable>فروش جدید</lable></a>
                            </td>
                            <td>
                                <a id="btnAddBuy" class="btn btn-block btn-warning"><span class="fa fa-shopping-bag margin-r-5"></span><lable>خرید جدید</lable></a>
                            </td>
                        </tr>

                    </table>

                </div>

                </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-responsive tablemobile">
                    <thead>
                        <tr>
                            <td>#</td>
                            <th>شماره سفارش</th>
                            <th>تاریخ</th>
                            <th>عنوان کسب و کار</th>
                            <th>نوع سفارش</th>
                            <th>مجموع مبلغ سفارش</th>


                            <th>عملیات</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null && Model.Data != null)
                            {
                                int i = 1;
                                @foreach (var item in Model.Data)
                                {

                        <tr id="tr_@item.OrderId">
                            <td lable="" style="--bgcolor: silver;">@(i++)</td>
                            <td lable="شماره سفارش" style="--minwidth:40%">@item.OrderNumber</td>
                            <td lable="تاریخ سفارش" style="--minwidth:40%">@item.OrderDate.ToLocalizationDateTime("D1")</td>
                            <td lable="کسب و کار" style="--minwidth:40%">@item.WorkName</td>
                            <td lable="نوع سفارش" style="--minwidth:40%">
                                @if (@item.IsBuy)
                                {
                                    <lable>   خرید</lable>
                                }
                                else
                                {
                                    <lable>   فروش</lable>
                                }
                            </td>
                            <td lable="مبلغ سفارش" style="--minwidth:40%">
                                @item.SumPrice.ToString("0,0")
                            </td>

                            <td>
                                <button class="btn btn-warning btn-sm" onclick="ShowEditOrderPop('@item.OrderId','@item.IsBuy')"><span class="fa fa-edit margin-r-5"></span><lable>ویرایش</lable></button>
                                <button class="btn btn-danger btn-sm" onclick="DeleteOrder('@item.OrderId')"><span class="fa fa-remove margin-r-5"></span><lable>حذف</lable></button>
                                <button class="btn btn-info btn-sm" onclick="ShowNewPageModalDetailOrder('@item.OrderId')"><span class="fa fa-info margin-r-5"> </span><lable>جزئیات</lable></button>
                            </td>
                        </tr>
                            }
                            }
                        }
                    </tbody>
                    </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

  </div>



 

<script>
    $("#btnAdd").click(function () {
        $("#orderView").load("Order/Add");
    });

    $("#btnAddBuy").click(function () {
        $("#orderView").load("OrderBuy/Add");
    });
    function DeleteOrder(orderId) {
        swal.fire({
            title: 'حذف سفارش',
            text: "کاربر گرامی از حذف سفارش مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7cacbe',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله ، سفارش حذف شود',
            cancelButtonText: 'خیر',
            position: 'top',
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            }
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "Order/Delete/" + orderId,
                    type: "Get",
                    success: function (result) {
                        if (result.isSucceed == true) {
                            Command: toastr["success"]("سفارش حذف شد");
                            $("#tr_" + orderId).addClass("danger");
                            $("#tr_" + orderId).hide('slow');
                            $("#orderView").load("Order/List");
                        }
                        else {
                            Command: toastr["warning"](result.message, "هشدار");
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        })
    }
    function ShowEditOrderPop(orderId, isBuy) {
  
        if (isBuy == 'True') {

            $("#orderView").load("OrderBuy/Edit/" + orderId);
        }
        else {
            $("#orderView").load("Order/Edit/" + orderId);

        }
        //$.get("/Order/Edit/" + orderId, function (result) {
        //    $("#myModal").modal('show');
      //    $("#myModalBody").html(result);
        //});
    }
    function ShowEditOrder(orderId) {
        $("#orderView").load("Order/Edit/" + orderId);
    }
    function ShowNewPageModalDetailOrder(orderId) {
        $.get("Order/Detail/" + orderId, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("جزئیات  سفارش");
            $("#myModalBody").html(result);
            
        });
    }
</script>