
@using Sude.Dto.DtoModels.Serving
@model  InventoryTypeDetailDtoModel

@{
                                                 Layout=null;
                                                 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@_SudeSessionContext.GetLocalResourceValue("Page.Title.Detail")</title>
</head>
<body>

<div>
 
    <dl class="row">
        
        <dt class = "col-sm-2">
       @_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
          @_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
</div>
</body>
</html>
