@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sude.Mvc.UI.Admin.Models.LoginViewModel
@{
    Layout = null;
}


<div class="login-box  bg-red-gradient text-center">
    <div class="login-logo">

  <h4> <a class="" href="/">@_SudeSessionContext.GetLocalResourceValue("Page.Content.SystemManagement")</a> </h4> 
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">@_SudeSessionContext.GetLocalResourceValue("Page.Content.SystemManagement")</p>

        <form id="frmLogin">
            <div class="form-group has-feedback">
                <input type="text" asp-for="Username" id="txtUsername" class="form-control" placeholder="@_SudeSessionContext.GetLocalResourceValue("Page.Content.MobileNumber")">
                <span class="glyphicon  glyphicon-phone form-control-feedback"></span>
                <span asp-validation-for="Username" class="text-danger"></span>

            </div>
            <div class="form-group has-feedback">
                <input type="password" asp-for="Password" id="txtPassword" class="form-control" placeholder="@_SudeSessionContext.GetLocalResourceValue("Page.Content.Password")">
                <span class="fa fa-key form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">

                <div class="col-md-8">
                    <a onclick="Login()" id="btnLogin" class="btn btn-primary btn-block btn-flat ">

                        @_SudeSessionContext.GetLocalResourceValue("Page.Button.Login")
                    </a>
                </div> <!-- /.col -->
                <div class="col-md-4">
                    <a id="btnRegister" class="btn btn-info btn-block btn-flat">        @_SudeSessionContext.GetLocalResourceValue("Page.Button.Register")</a>
                </div>
                <!-- /.col -->
            </div>
        </form>


        <!-- /.social-auth-links -->
        @*<div class="row text-center">
                <a href="#">کلمه عبور را فراموش کردم</a><br>

                </div>
            </div>*@
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->

    <script>


        function Login() {
            try {
                $.validator.unobtrusive.parse($('#frmLogin'));

                var isValid = $('#frmLogin').valid();
                if (!isValid)
                    return;


                // add spinner to button
                $("#btnLogin").html(
                    '<i class="fa fa-refresh fa-spin  margin-r-5"></i> @_SudeSessionContext.GetLocalResourceValue("Page.Button.Login") ...'
                );


                var login = {
                    Username: $("#txtUsername").val(),
                    Password: $("#txtPassword").val()
                }
                $.ajax({
                    url: "Login/Login",
                    type: "Post",
                    data: login
                }).done(function (result) {
                    if (result.isSucceed) {

                        location.replace("Home");

                    }
                    else {
                        $("#btnLogin").html(
                            '        @_SudeSessionContext.GetLocalResourceValue("Page.Button.Login")'
                        );
                        Command: toastr["warning"](result.message, "        @_SudeSessionContext.GetLocalResourceValue("Page.Message.Warning")");
                    }
                });

            }
            catch (err) {
                Command: toastr["warning"](err.message, " @_SudeSessionContext.GetLocalResourceValue("Page.Message.Warning")");
            }
        }


        $("#btnRegister").click(function () {

            $("#loginorregister").load("Login/Register");
        });

    </script>
    </div>
