@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Work
@model ResultSetDto<IEnumerable<WorkTypeDetailDtoModel>>

<div class="input-group">
    <input type="text" name="message" placeholder="Type words ..." class="form-control">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</lable></button>
    </span>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">فهرست  انواع کسب و کار</h3>

                <div class="box-tools">
                  
                    <a id="btnAdd" class="btn btn-block btn-success"><span class="fa fa-plus margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.New")</lable></a>
                  
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")</th>

                        <th>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")</th>
                        <th>عملیات</th>

                    </tr>
                    @{ 
                        int i = 1;
                        @if(Model!=null && Model.Data!=null)
                        @foreach (var item in Model.Data)
                    {
                <tr id="tr_@item.WorkTypeId" role="row" class="odd">
                    <td>@(i++)</td>
                    <td>@item.Title</td>
                    <td>@item.Desc</td>
                    <td>
                        <button class="btn btn-warning" onclick="ShowEditWorkTypePop('@item.WorkTypeId')"><span class="fa fa-edit margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Edit")</lable></button>
                        <button class="btn btn-info btn-sm" onclick="ShowNewPageModalDetailWorkType('@item.WorkTypeId')"><span class="fa fa-info margin-r-5"> </span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail")</lable></button>
                        <button class="btn btn-danger btn-sm" onclick="DeleteWorkType('@item.WorkTypeId')"><span class="fa fa-remove margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete")</lable></button>
                    </td>
                </tr>
                    }
                        }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>


</div>

 

<script>
    $("#btnAdd").click(function () {
        $("#WorkTypeView").load("WorkType/Add");
    });
    function DeleteWorkType(worktypeId) {
        swal.fire({
            title: '@_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") نوع کسب و کار',
            text: "کاربر گرامی از @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") نوع کسب و کار مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7cacbe',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله ، نوع کسب و کار @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") شود',
            cancelButtonText: 'خیر',
            position: 'top',
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            }
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "WorkType/Delete/" + worktypeId,
                    type: "Get",
                    success: function (result) {
                        if (result.isSucceed == true) {
                            Command: toastr["success"]("نوع کسب و کار @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") شد");
                            $("#tr_" + worktypeId).addClass("danger");
                            $("#tr_" + worktypeId).hide('slow');
                            $("#workTypeView").load("WorkType/List");
                        }
                        else {
                            Command: toastr["warning"](result.message, "هشدار");
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        })
    }
    function ShowEditWorkTypePop(worktypeId) {
        $.get("WorkType/Edit/" + worktypeId, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("@_SudeSessionContext.GetLocalResourceValue("Page.Button.Edit") نوع کسب و کار");
            $("#myModalBody").html(result);
        });
    }
    function ShowEditWorkType(worktypeId) {
        $("#WorkTypeView").load("WorkType/Edit/" + worktypeId);
    }
    function ShowNewPageModalDetailWorkType(worktypeId) {
        $.get("WorkType/Detail/" + worktypeId, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail")  نوع کسب و کار");
            $("#myModalBody").html(result);
        });
    }
</script>