@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Work
@model IEnumerable<WorkDetailDtoModel>
 
     <div class="input-group">
        <input type="text" name="message" placeholder="Type words ..." class="form-control">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</lable></button>
        </span>
    </div>

     
 


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">فهرست  کسب و کارها</h3>

                <div class="box-tools">

                    <a id="btnAdd" class="btn btn-block btn-success "><span class="fa fa-plus margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.New")</lable></a>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover tablemobile">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")</th>
                            <th>نوع</th>
                            <th>@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")</th>
                            <th>عملیات</th>

                        </tr>
                        </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model != null )
                            {
                                @foreach (var item in Model)
                                {

                                    <tr id="tr_@item.WorkId">
                                        <td lable="" style="--bgcolor: silver;">@(i++)</td>
                                        <td lable="@_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")" style="--minwidth:40%">@item.Title</td>
                                        <td lable="نوع" style="--minwidth:40%">@item.WorkTypeName</td>
                                        <td lable="@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")" style="--minwidth:40%">@item.Desc</td>
                                        <td>
                                            <a class="btn btn-warning btn-sm" onclick="ShowEditWorkPop('@item.WorkId')"><span class="fa fa-edit margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Edit")</lable></a>
                                            <a class="btn btn-info btn-sm" onclick="ShowNewPageModalDetailWork('@item.WorkId')"><span class="fa fa-info margin-r-5"> </span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail")</lable></a>
                                            <a class="btn btn-primary btn-sm" onclick="GoToServing('@item.WorkId')"><span class="fa fa-bars margin-r-5"> </span><lable>اقلام و خدمات</lable></a>
                                            <a class="btn btn-danger btn-sm" onclick="DeleteWork('@item.WorkId')"><span class="fa fa-remove margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete")</lable></a>
                                            <a class="btn btn-info btn-sm" href="work/WorkExcelList?workid=@item.WorkId"><span class="fa fa-info margin-r-5"></span><lable>دریافت اطلاعات کسب و کار</lable></a>

                                        </td>
                                    </tr>
                                }

                            }
                        else
                        {
                        <tr>
                            <td><label>کاربر گرامی، با انتخاب دکمه @_SudeSessionContext.GetLocalResourceValue("Page.Button.New") یک کسب و کار @_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نمایید</label></td>
                        </tr>
                            }
                             }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>


    </div>



<script>
        $("#btnAdd").click(function () {
            $("#WorkView").load("Work/Add");
        });

        function GoToServing(workId) {


            $.ajax({
                cache: false,
                type: "GET",
                url: "Work/SetDefaultWork",
                data: { "workId": workId },
                success: function (data) {

                    location.replace("Serving");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');

                }
            });



        }
        function DeleteWork(workId) {

            swal.fire({
                title: '@_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") کسب و کار',
                text: "کاربر گرامی از @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") کسب و کار مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#7cacbe',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله ، کسب و کار @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") شود',
                cancelButtonText: 'خیر',
                position: 'top',
                showClass: {
                    popup: 'animate__animated animate__fadeIn'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOut'
                }
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: "Work/Delete/" + workId,
                        type: "Get",
                        success: function (result) {
                            if (result.isSucceed == true) {
                                Command: toastr["success"]("کسب و کار @_SudeSessionContext.GetLocalResourceValue("Page.Button.Delete") شد")
                                $("#tr_" + workId).addClass("danger");
                                $("#tr_" + workId).hide('slow');
                                    //location.reload();
                                $("#workView").load("Work/List");
                            }
                            else {

                                Command: toastr["warning"](result.message, "هشدار")

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }



        function ShowEditWorkPop(workId) {
            $.get("Work/Edit/" + workId, function (result) {

                $("#myModal").modal('show');
                $("#myModalLabel").html("@_SudeSessionContext.GetLocalResourceValue("Page.Button.Edit") کسب و کار");
                $("#myModalBody").html(result);
            });
        }




        function ShowEditWork(workId) {
            $("#WorkView").load("Work/Edit/" + workId);

        }


        function ShowNewPageModalDetailWork(workId) {


            $.get("Work/Detail/" + workId, function (result) {

                $("#myModal").modal('show');
                $("#myModalLabel").html("@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail") کسب و کار");
                $("#myModalBody").html(result);
            });
        }


</script>