@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Order
@model IEnumerable<OrderDetailNewDtoModel>
@*<div class="col-12">
        <fieldset class="form-group">
            <input type="text" class="form-control" name="serchkey">
            <button class="btn btn-success">جستجو</button>
        </fieldset>
    </div>*@

@if (Model != null)
{
    int i = 1;
    @foreach (var item in Model)
    {
        <div class="col-md-1"><label></label>@(i++)</div>
        <div class="col-md-4"><label> @item.ServingName</label></div>
        <div class="col-md-2"><label> @item.Price</label></div>
        <div class="col-md-2"><label> @item.Count</label></div>
        <div class="col-md-2"><label> @(item.Price * item.Count)</label></div>
        <div class="col-md-1">

            <a class="btn btn-danger btn-sm" onclick="DeleteOrderDetail('@item.OrderDetailId','@item.ServingId')">حذف</a>

        </div>

    }

}

<script>

    function DeleteOrderDetail(detailid, serving) {
        alert(detailid);
        alert(serving);
        swal.fire({
            title: 'حذف جزئیات',
            text: 'کاربر گرامی از حذف جزئیات مطمئن هستید؟',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7cacbe',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله ، جزئیات حذف شود',
            cancelButtonText: 'خیر'
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "/OrderDetail/Delete",
                    type: "Post",
                    data: { id: detailid, servingId: serving },
                    success: function (result) {
                        if (result.isSucceed == true) {
                            swal.fire(
                                'موفق!',
                                result.message,
                                'success'
                            ).then(function (isConfirm) {
                                $("#tr_" + orderDetailId).addClass("danger");
                                $("#tr_" + orderDetailId).hide('slow');
                                //location.reload();
                            });
                            $("#odetails").load("/OrderDetail/List");
                        }
                        else {

                            swal.fire(
                                'هشدار!',
                                result.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });

            }
        })
    }



</script>