@model ResultSetDto<IEnumerable<ReportOrderDtoModel>>
@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Order
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    HttpContextAccessor.HttpContext.Session.SetActiveMenuItemSystemName("Report");
    ViewBag.PageTitle = "گزارشات کسب و کار";
}
<link href="~/Content/PersianDate/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/Content/PersianDate/persian-date.min.js"></script>
<script src="~/Content/PersianDate/persian-datepicker.min.js"></script>
<script src="~/Content/PersianDate/persian-date-function.js"></script>


<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title">@_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</h3>
    </div>
    <div class="box-body">
        <div class="row margin-bottom">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>@_SudeSessionContext.GetLocalResourceValue("Page.Content.StartDate") @_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</label>
                    </div>
                    <div class="col-md-8">

                        <input id="txtOrderDateFrom" value="@(Convert.ToDateTime(ViewData[Constants.ViewBagNames.OrderDateFrom]))" class="form-control" />
                        <input id="OrderDateFromVal" hidden="hidden" value="@Convert.ToDateTime(ViewData[Constants.ViewBagNames.OrderDateFrom])" />



                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <div class="col-md-4">
                        <label>@_SudeSessionContext.GetLocalResourceValue("Page.Content.EndDate") @_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</label>
                    </div>
                    <div class="col-md-8">
                        <input id="txtOrderDateTo" value="@(Convert.ToDateTime(ViewData[Constants.ViewBagNames.OrderDateTo]))" class="form-control" />
                        <input id="OrderDateToVal" hidden="hidden" value="@Convert.ToDateTime(ViewData[Constants.ViewBagNames.OrderDateTo])" />

                    </div>
                </div>



            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 text-center">
                <label class="btn btn-default">
                    <input type="radio" id="selectAll" class="btn-check"  checked="checked" name="IsBuy" value="" autocomplete="off">
                    همه
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="selectSell" class="btn-check" name="IsBuy" value="false" autocomplete="off">
                    فروش
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="selBuy" class="btn-check"  name="IsBuy" value="true" autocomplete="off">
                    خرید
                </label>
            </div>

            <div class="col-md-4 text-center">

                <a class="btn btn-default btn-info" onclick="SearchOrders(getControlAltValueDateStructure('#OrderDateFromVal'),getControlAltValueDateStructure('#OrderDateToVal'),$('input[name=IsBuy]:radio:checked').val(),1)"><span class="fa fa-search margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</a>




            </div>

        </div>
        <div class="row margin-bottom"></div>
        <div class="row">

            <div id="searchOrderView" class="col-md-12">

            </div>



        </div>
    </div>
</div>



@section Scripts
{



    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Sweetalert2/animate.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <link href="~/AdminLTE/css/toastr.min.css" rel="stylesheet" />
    <script src="~/AdminLTE/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>
        initializeDateTime('#txtOrderDateFrom', '#OrderDateFromVal');
        initializeDateTime('#txtOrderDateTo', '#OrderDateToVal');

    </script>
    <script>

        function SearchOrders(OrderDateFrom, OrderDateTo, IsBuy,PageIndex) {

            //var address = "Report/SearchReport?DateFrom=" + encodeURIComponent($('#OrderDateFromVal').val()) + "&DateTo=" + encodeURIComponent($('#OrderDateToVal').val()) + "&IsBuy=";

              $("#searchOrderView").load("ReportWork/SearchReport?DateFrom=" + encodeURIComponent(OrderDateFrom) + "&DateTo=" + encodeURIComponent(OrderDateTo) + "&IsBuy=" + IsBuy + "&PageIndex=" + PageIndex);
        }



    </script>


}
