@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Serving
@model ResultSetDto<IEnumerable<ServingDetailDtoModel>>




<div class="input-group">
    <input type="text" name="message" placeholder="Type words ..." class="form-control">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>جستجو</lable></button>
    </span>
</div>





<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">فهرست  اقلام و خدمات</h3>

                <div class="box-tools">
                  
                    <a id="btnAdd" class="btn btn-block btn-success"><span class="fa fa-plus margin-r-5"></span><lable>جدید</lable></a>
                   
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
                <table class="table   tablemobile with-border  table-responsive ">
                    <thead>
                        <tr>
                            <td>#</td>
                            <th>عنوان</th>
                            <th>عنوان کسب و کار</th>
                            <th>قیمت</th>
                            <th>وضعیت</th>
                            <th>کنترل موجودی</th>
                            <th>توضیحات</th>
                            <th>عملیات</th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model != null && Model.Data != null)
                                @foreach (var item in Model.Data)
                                {
                        <tr id="tr_@item.ServingId">
                            <td  lable="" style="--bgcolor: silver;">@(i++)</td>
                            <td lable="عنوان" style="--minwidth:40%">@item.Title</td>
                            <td lable="کسب و کار" style="--minwidth:40%">@item.WorkName</td>
                            <td lable="قیمت" style="--minwidth:40%">@item.Price.ToString("0,0")</td>
                            <td lable="وضعیت" style="--minwidth:40%">
                                @if (item.IsActive)
                                {
                                    <span class="label label-success">امکان عرضه و فروش</span>
                                }
                                else
                                {
                                    <span class="label label-danger">غیر قابل عرضه و فروش</span>

                                }
                            </td>
                            <td lable="رهگیری موجودی" style="--minwidth:40%">
                                @if (item.HasInventoryTracking)
                                {

                                <span class="label label-info">@item.InventoryCount</span>
                            }
                            else
                            {
                              <span class="label label-danger">ندارد</span>

                            }
</td>


                                <td lable="توضیحات" style="--minwidth:40%">@item.Desc</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" onclick="ShowEditServingPop('@item.ServingId')"><span class="fa fa-edit margin-r-5"></span><lable>ویرایش</lable></button>
                                    <button class="btn btn-danger btn-sm" onclick="DeleteServing('@item.ServingId')"><span class="fa fa-remove margin-r-5"></span><lable>حذف</lable></button>
                                    <button class="btn btn-info btn-sm" onclick="ShowNewPageModalDetailServing('@item.ServingId')"><span class="fa fa-info margin-r-5"> </span><lable>جزئیات</lable></button>
                                </td>
                            </tr>

                                }}
                    </tbody>
                </table>

                        </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>


</div>






<script>
    $("#btnAdd").click(function () {
        $("#servingView").load("Serving/Add");
    });

    function DeleteServing(servingId) {

        swal.fire({
            title: 'حذف سرویس',
            text: "کاربر گرامی از حذف سرویس مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7cacbe',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله ، سرویس حذف شود',
            cancelButtonText: 'خیر',
            position: 'top',
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            }
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "Serving/Delete/" + servingId,
                    type: "Get",
                    success: function (result) {
                        if (result.isSucceed == true) {
                            Command: toastr["success"]("خدمات/اقلام حذف شد");
                            $("#tr_" + servingId).addClass("danger");
                            $("#tr_" + servingId).hide('slow');
                            $("#servingView").load("Serving/List");
                        }
                        else {

                            Command: toastr["warning"](result.message, "هشدار");

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });

            }
        })
    }



    function ShowEditServingPop(ServingId) {
        $.get("Serving/Edit/" + ServingId, function (result) {

            $("#myModal").modal('show');
            $("#myModalLabel").html("ویرایش خدمات");
            $("#myModalBody").html(result);
        });
    }




    function ShowEditServing(servingId) {
        $("#servingView").load("Serving/Edit/" + servingId);

    }


    function ShowNewPageModalDetailServing(ServingId) {


        $.get("Serving/Detail/" + ServingId, function (result) {

            $("#myModal").modal('show');
            $("#myModalLabel").html("جزئیات خدمات");
            $("#myModalBody").html(result);
        });
    }

</script>