 
@model Sude.Dto.DtoModels.Content.NewsNewDtoModel
 
<script src="~/lib/tinymce/tinymce.min.js"></script>

<form id="frmAdd">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">ایجاد خبر</h3>

            </div>
            <div class="box-body">

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Title" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtTitle" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="ShortBody" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.ShortBody")</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="txtShortBody" asp-for="ShortBody" class="form-control"></textarea>
                        <span asp-validation-for="ShortBody" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="FullBody" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.FullBody")</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="txtFullBody" asp-for="FullBody" type="text" class="form-control"></textarea>
                        <span asp-validation-for="FullBody" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Description" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtDescription" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-2">
                        <label>
                            <input id="chkIsActive" type="checkbox" asp-for="IsActive" /> @_SudeSessionContext.GetLocalResourceValue("Page.Content.Active")
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>
                            <input id="chkIsPublish" type="checkbox" asp-for="IsPublish" />@_SudeSessionContext.GetLocalResourceValue("Page.Content.Published")
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>
                            <input id="chkAllowComment" type="checkbox" asp-for="AllowComment" /> @_SudeSessionContext.GetLocalResourceValue("Page.Content.AllowComment")
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">

                        <label asp-for="MetaTitle" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.MetaTitle")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaTitle" asp-for="MetaTitle" class="form-control" />
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="MetaKeywords" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.MetaKeywords")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaKeywords" asp-for="MetaKeywords" class="form-control" />
                        <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="MetaDescription" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.Description") متا</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaDescription" asp-for="MetaDescription" class="form-control" />
                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Tags" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.Tags")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtTags" asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="StartDate" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.StartDate")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtStartDate" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="EndDate" class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.EndDate")</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtEndDate" asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <a id="btnSaveNewNews" onclick="SaveNewNews()" class="btn btn-success"><span class="fa fa-check margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") خبر @_SudeSessionContext.GetLocalResourceValue("Page.Button.New")</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Back")</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>
<script>

      

    $(document).ready(function () {
             var defaultShortBodyEditorSettings =
             {
                 selector: "#txtShortBody",
            fontsize_formats: "8pt 9pt 10pt 11pt 12pt 26pt 36pt",
            height: 200,
            width: '100%',
            autoresize_min_height: 200,
            autoresize_max_height: 200,
            plugins: [
                "advlist autolink autoresize directionality lists link image charmap preview anchor",
                "searchreplace visualblocks code fullscreen textcolor",
                "insertdatetime media table contextmenu paste@(true ? " fullpage" : null)"
            ],
            toolbar: "ltr rtl | insertfile undo redo | styleselect | fontselect | fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            relative_urls: false,

            entity_encoding: "raw"


        };



           

                 var defaultFullBodyEditorSettings =
             {
                     selector: "#txtFullBody",
            fontsize_formats: "8pt 9pt 10pt 11pt 12pt 26pt 36pt",
            height: 200,
            width: '100%',
            autoresize_min_height: 200,
            autoresize_max_height: 200,
            plugins: [
                "advlist autolink autoresize directionality lists link image charmap preview anchor",
                "searchreplace visualblocks code fullscreen textcolor",
                "insertdatetime media table contextmenu paste@(true ? " fullpage" : null)"
            ],
            toolbar: "ltr rtl | insertfile undo redo | styleselect | fontselect | fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            relative_urls: false,

            entity_encoding: "raw"


    };

 

    tinyMCE.init(defaultShortBodyEditorSettings);

    tinyMCE.init(defaultFullBodyEditorSettings);
    });
 


    function SaveNewNews() {
        $.validator.unobtrusive.parse($('#frmAdd'));

        var isValid = $('#frmAdd').valid();
        if (!isValid)
            return;

        var News = {
            Title: $("#txtTitle").val(),
            Description: $("#txtDescription").val(),
            ShortBody: tinyMCE.get('txtShortBody').getContent(),
            FullBody: tinyMCE.get('txtFullBody').getContent(),
            MetaTitle: $("#txtMetaTitle").val(),
            MetaKeywords: $("#txtMetaKeywords").val(),
            MetaDescription: $("#txtMetaDescription").val(),
            Tags: $("#txtTags").val(),
            StartDate: $("#txtStartDate").val(),
            EndDate: $("#txtEndDate").val(),
            IsActive: $("#chkIsActive").is(":checked"),
            AllowComment: $("#chkAllowComment").is(":checked"),
            IsPublish: $("#chkIsPublish").is(":checked")
        }
        $.ajax({
            url: "News/Add",
            type: "Post",
            data: News
        }).done(function (result) {
            if (result.isSucceed) {
                Command: toastr["success"]("خبر ایجاد شد");
                $("#newsView").load("News/List");
            }
            else {
                Command: toastr["warning"](result.message, "هشدار");
            }
        });
    }

    function ToList() {
        $("#newsView").load("News/List");
    }


</script>
