
@model  Sude.Dto.DtoModels.Content.NewsDetailDtoModel

  @{
                                        Layout=null;
                                        }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail")</title>
</head>
<body>

    <div>

        <dl class="dl-horizontal">

            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.ShortBody")
            </dt>
            <dd>
                @Html.Raw(Model.ShortBody)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.FullBody")
            </dt>
            <dd>
                @Html.Raw(Model.FullBody)

            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.Description")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.Active")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.Published")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsPublish)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.AllowComment")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AllowComment)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.MetaTitle")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaTitle)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.MetaKeyWords")
    
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaKeywords)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.MetaDescription") 
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaDescription)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.Tags")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tags)
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.StartDate")
            </dt>
            <dd>
                @Model.StartDate.ToLocalizationDateTime("g");
            </dd>
            <dt>
                @_SudeSessionContext.GetLocalResourceValue("Page.Content.EndDate")
            </dt>
            <dd>
                @Model.EndDate.ToLocalizationDateTime("g");
            </dd>
        </dl>
    </div>
<div>
</div>
</body>
</html>
