@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Content
@model ResultSetDto<IEnumerable<NewsDetailDtoModel>>
    <div class="input-group">
        <input type="text" name="message" placeholder="Type words ..." class="form-control">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>جستجو</lable></button>
        </span>
    </div>


    <div class="row">
        <div class="col-m-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">فهرست  اخبار</h3>

                    <div class="box-tools">



                        <a id="btnAdd" class="btn btn-block btn-success"><span class="fa fa-plus margin-r-5"></span><lable>جدید</lable></a>

                    </div>
                </div>
      
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <td>#</td>
                        <th>عنوان</th>
                        <th>توضیحات</th>
                        <th>منتشر شده</th>

                        <th>تاریخ ثبت</th>

                    </tr>
                    @{
                        int i=1;
                        if (Model != null && Model.Data!=null)
                    @foreach (var item in Model.Data)
                    {
                <tr id="tr_@item.NewsId" role="row" class="odd">
                    <td>@(i++)</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.IsPublish</td>
                    <td>@item.RegDate.ToLocalizationDateTime("D1")</td>
                    <td>
                        <button class="btn btn-warning btn-sm" onclick="ShowEditNews('@item.NewsId')"><span class="fa fa-edit margin-r-5"></span><lable>ویرایش</lable></button>
                        <button class="btn btn-danger btn-sm" onclick="DeleteNews('@item.NewsId')"><span class="fa fa-remove margin-r-5"></span><lable>حذف</lable></button>
                        <button class="btn btn-info btn-sm" onclick="ShowNewPageModalDetailNews('@item.NewsId')"><span class="fa fa-info margin-r-5"> </span><lable>جزئیات</lable></button>
                    </td>
                </tr>
                    }
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
        </div>


 
    <script>
        $("#btnAdd").click(function () {
            $("#newsView").load("News/Add");
        });


    function DeleteNews(NewsId) {

        swal.fire({
            title: 'حذف خبر',
            text: "کاربر گرامی از حذف خبر مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7cacbe',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله ، خبر حذف شود',
            cancelButtonText: 'خیر',
            position: 'top',
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            }
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "News/Delete/" + NewsId,
                    type: "Get",
                    success: function (result) {
                        if (result.isSucceed == true) {
                            Command: toastr["success"]("خبر حذف شد");
                    
                            $("#tr_" + NewsId).addClass("danger");
                            $("#tr_" + NewsId).hide('slow');
                            $("#newsView").load("News/List");
                        }
                        else {

                Command: toastr["warning"](result.message, "هشدار");

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });

            }
        })
    }



    function ShowEditNewsPop(NewsId) {
        $.get("News/Edit/" + NewsId, function (result) {

            $("#myModal").modal('show');
            $("#myModalLabel").html("ویرایش خبر");
            $("#myModalBody").html(result);
        });
    }




        function ShowEditNews(NewsId) {
        $("#newsView").load("News/Edit/" + NewsId);

    }

 
        function ShowNewPageModalDetailNews(NewsId){

        $.get("News/Detail/" +NewsId, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("جزئیات خبر");
            $("#myModalBody").html(result);
        });
    }

    </script>