@model IEnumerable<Sude.Dto.DtoModels.Content.NewsDetailDtoModel>
@if (Model != null &&  Model.Count() > 0)
{
    <div class="news-list-homepage">
        <div class="title">
            <strong>اخبار</strong>
        </div>
        <div class="news-items">
            @foreach (Sude.Dto.DtoModels.Content.NewsDetailDtoModel item in Model)
            {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title" href="News/@item.UrlNews">@item.Title</a>
                        <span class="news-date">-@item.StartDate.ToLocalizationDateTime("D")</span>
                    </div>
                    <div class="news-body">
                        @Html.Raw(item.ShortBody)
                    </div>
                    <div class="buttons">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.MetaTitle })" class="read-more"><span class="fa fa-info margin-r-5"> </span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Detail")</lable></a>
                    </div>
                </div>
            }
        </div>
        <div class="view-all">
            <a href="@Url.RouteUrl("NewsArchive")">آرشیو اخبار</a>
        </div>
    </div>

}