@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Sude.Mvc.UI.Admin.SudeSessionContext  SudeSessionContext

@{

    HttpContextAccessor.HttpContext.Session.SetActiveMenuItemSystemName("Dashboard");
    ViewBag.PageTitle = "پیشخوان";
}

<script src="~/AdminLTE/bower_components/chart.js/Chart.min.js"></script>
<input id="txtCurrentName" type="hidden" value="@SudeSessionContext.CurrentWorkName" />
<input id="txtWorksCount" type="hidden" value="@(SudeSessionContext.UserWorks!=null ?  SudeSessionContext.UserWorks.Count():0)" />
   
<div class="row">
    <div class="col-md-12">
        <div class="box box-info " id="news-box">
            <div class="box-header with-border clearfix">
                <div class="box-title">
                    <i class="fa fa-newspaper-o"></i>
                    اخبار سامانه
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading clearfix">
                                <a class="pull-right" href='Home'>جدید ترین امکانات سایت</a>
                            </div>
                            <div class="panel-body">
                                گزارش آمار سالانه در سامانه ایجاد شد.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading clearfix">
                                <a class="pull-right" href='Home'>پشتیبانی سامانه</a>
                            </div>
                            <div class="panel-body">
                                جهت تماس با واحد پشتیبانی با شماره 0000 تماس بگیرید.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading clearfix">
                                <a class="pull-right" href='Home'>راهنمای سامانه</a>
                            </div>
                            <div class="panel-body">
                                جهت مطالعه راهنمای سامانه از لینک زیر استفاده کنید.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="box box-info " id="statistics-box">
            <div class="box-header with-border clearfix">
                <div class="box-title">
                    <i class="fa ion-stats-bars"></i>
                    آمار
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-olive">
                        <div class="inner">
                            <h3>@(Convert.ToDouble(ViewData[Constants.ViewBagNames.OrderCount]).ToString("0,0"))</h3>
                            <p>سفارشات فروش</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-shopping-cart"></i>

                        </div>
                        <a class="small-box-footer" href="Order">
                            اطلاعات بیشتر
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green-gradient">
                        <div class="inner">
                            <h3>@(Convert.ToDouble(ViewData[Constants.ViewBagNames.SumOrderPrice]).ToString("0,0"))</h3>
                            <p>مبلغ سفارشات فروش</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <a class="small-box-footer" href="Order">
                            اطلاعات بیشتر
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>@(Convert.ToDouble(ViewData[Constants.ViewBagNames.OrderBuyCount]).ToString("0,0"))</h3>

                            <p>سفارشات خرید</p>

                        </div>

                        <div class="icon">
                            <i class="fa fa-shopping-cart"></i>

                        </div>
                        <a class="small-box-footer" href="Order">
                            اطلاعات بیشتر
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-light-blue-gradient">
                        <div class="inner">
                            <h3>@(Convert.ToDouble(ViewData[Constants.ViewBagNames.SumOrderBuyPrice]).ToString("0,0"))</h3>

                            <p>مبلغ سفارشات خرید</p>

                        </div>

                        <div class="icon">
                            <i class="fa fa-money"></i>

                        </div>
                        <a class="small-box-footer" href="Order">
                            اطلاعات بیشتر
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>



            </div>
        </div>




    </div>
</div>



<div class="row">
    <div class="col-md-8">

        <div class="box box-info " id="latest-orders-box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-cart-plus"></i>
                    آخرین سفارشات
                    <a class="btn btn-xs btn-info btn-flat margin-l-10" href="Order">نمایش همه سفارشات</a>
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <script>

            </script>
            <div class="box-body">
                <table class="table table-bordered table-hover table-striped dataTable" width="100%" height="300px" id="orders-grid">
                </table>


            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="box box-info" id="order-statistics-box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-shopping-cart"></i>
                    سفارشات
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" onclick="changeType('year')" data-chart-period="year">سال</button>
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" data-chart-period="month" onclick="changeType('month')">ماه</button>
                    <button class="btn btn-xs btn-info btn-flat" data-chart-role="toggle-chart" data-chart-period="week" onclick="changeType('week')">هفته</button>
                    <button class="btn btn-box-tool margin-l-10" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart" style="height: 300px;">
                    <canvas id="order-statistics-chart" height="300"></canvas>
                </div>
            </div>
        </div>


    </div>

</div>
<script>

    $(document).ready(function () {
        //changeType('week');

        var currentworkname = $("#txtCurrentName").val();
        var userworkscount = $("#txtWorksCount").val();
       
        if (currentworkname == "" && parseInt(userworkscount) > 1) {

            ShowSetDefaultWork();
        }

    });
    var osConfig = {
        type: 'line',
        data: {
            labels: [],
            datasets: [
                {
                    label: "آمار سفارشات",
                    fillColor: "rgba(60,141,188,0.9)",
                    strokeColor: "rgba(60,141,188,0.8)",
                    pointColor: "#3b8bba",
                    pointStrokeColor: "rgba(60,141,188,1)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(60,141,188,1)",
                    borderColor: 'rgba(60, 141, 188, 0.7)',
                    backgroundColor: 'rgba(44, 152, 214, 0.5)',
                    pointBorderColor: 'rgba(37, 103, 142, 0.9)',
                    pointBackgroundColor: 'rgba(60, 141, 188, 0.4)',
                    pointBorderWidth: 1,
                    data: []
                }
            ]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    display: true,
                    ticks: {
                        userCallback: function (dataLabel, index) {
                            if (window.orderStatistics && window.orderStatistics.config.data.labels.length > 12) {
                                return index % 5 === 0 ? dataLabel : '';
                            }
                            return dataLabel;
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        userCallback: function (dataLabel, index) {
                            return (dataLabel ^ 0) === dataLabel ? dataLabel : '';
                        },
                        min: 0
                    }
                }]
            },
            showScale: true,
            scaleShowGridLines: false,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines: true,
            bezierCurve: true,
            pointDot: false,
            pointDotRadius: 4,
            pointDotStrokeWiioldth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetFill: true,
            maintainAspectRatio: false,
            responsive: true
        }
    };

    function changeType(type) {
        var osLabels = [];
        var osData = [];

        $.ajax({
            cache: false,
            type: "GET",
            url: "Order/GetOrdersStatistics/",
            data: {
                statisticsType: type
            },
            success: function (data, textStatus, jqXHR) {
                for (var i = 0; i < data.length; i++) {
                    osLabels.push(data[i].date);

                    osData.push(data[i].value);
                }

                //  if (!window.orderStatistics) {

                osConfig.data.labels = osLabels;
                osConfig.data.datasets[0].data = osData;
                osConfig.data.scales =
                    window.orderStatistics = new Chart(document.getElementById("order-statistics-chart").getContext("2d"), osConfig);
                //   } else {
                //       window.orderStatistics.config.data.labels = osLabels;
                //      window.orderStatistics.config.data.datasets[0].data = osData;
                //     window.orderStatistics.update();
                // }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //   alert(textStatus);
            }
        });
    }

    function ShowSetDefaultWork() {

        $.get("Work/ViewWorks/", function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("انتخاب کسب و کار");
            $("#myModalBody").html(result);

        });

    }

</script>

@section Modals
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="myModalBody">

                </div>
            </div>
        </div>
    </div>
    <!--End Modal -->
}
<!-- /.row -->