
@model  Sude.Dto.DtoModels.Content.BlogDetailDtoModel

  

    <div>
 
        <dl class="dl-horizontal">
           
            <dt>
            عنوان
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
             متن کوتاه
            </dt>
            <dd>
                @Html.Raw(Model.ShortBody)
            </dd>
            <dt>
              متن کامل مقاله
            </dt>
            <dd>
                @Html.Raw(Model.FullBody)
        
            </dd>
            <dt>
توضیحات
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
              فعال
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt>
   منتشر شده
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsPublish)
            </dd>
            <dt>
              مجوز ثبت نظرات
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AllowComment)
            </dd>
            <dt>
             عنوان متا
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaTitle)
            </dd>
            <dt>
         کلمات کلیدی
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaKeywords)
            </dd>
            <dt>
       توضیحات متا
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MetaDescription)
            </dd>
            <dt>
          برچسب ها
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tags)
            </dd>
            <dt>
           تاریخ شروع
            </dt>
            <dd>
          @Model.StartDate.ToLocalizationDateTime("g")
            </dd>
            <dt>
            تاریخ پایان
            </dt>
            <dd>
                @Model.EndDate.ToLocalizationDateTime("g")
            </dd>
        </dl>
    </div>
 